.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* position: relative; */
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.review-order{
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 48px;
    background-color: #FF9900;
    color: white;
    border-radius: 8px;
    padding: 0 20px ;
}
.review-order-icon{
    height: 24px;
    width: 24px;
    color: white;
}